/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

html {
 background: black;
}

#first.slide{
  /* insert background image here */
  /* for a darker background color: background-image: linear-gradient(black, transparent) */
  background-size: cover;
  background-position: center;
  background-color:black;
}

#second.slide{
  /* insert background image here */
  /* for a darker background color: background-image: linear-gradient(black, transparent) */
  background-size: cover;
  background-position: center;
  background-color:white;
}

#third.slide{
  /* insert background image here */
  /* for a darker background color: background-image: linear-gradient(black, transparent) */
  background-size: cover;
  background-position: center;
  background-color:white;
}

.slide {
  /* Completely Transparent When Not Active */
  opacity: 0;
  
  /* Transition */
  transition: all 300ms;
  
  background: black;
  color: white;
  
  /* Center Contents */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Positioning */
  position: fixed;
  inset: 0; 
}

.slide.active {
  /* Manage the z-index here */
  z-index: 1;
  opacity: 1;
}

.back,
.next {
  position: fixed;
  right: 1rem;
  z-index: 2;
}

.back {
  top: 48%;
}

.next {
  top: 52%;
}